---
import { getTagUrl } from "../lib/site";

interface Props {
  tags?: string[];
}

const { tags = [] } = Astro.props;
---

{tags.length > 0 && (
  <ul class="tag-list" aria-label="Tags">
    {tags.map((tag) => (
      <li>
        <a href={getTagUrl(tag)}>#{tag}</a>
      </li>
    ))}
  </ul>
)}
